fieldset{
    border:1px solid;
    width: 240px;
    height: 200px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table,td,tr{

    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color:azure;

}


.center {
    text-align: center;
}